.newUserForm {
  width: 90%;
  margin-left: 3rem;
  padding-bottom: 40px;
}

@media screen and (max-width: 1200px) {
  .newUserForm {
    width: 80%;
  }
}

.newUserForm input {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #0692cf;
  border-radius: 5px;
  box-sizing: border-box;
}

.unavailable {
  border: 1px solid red;
  box-shadow: #fc95a1 0px 0px 5px;
}

.newUserForm label {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 0;
}

.newUserButton {
  padding: 5px 20px 5px 20px;
  margin-top: 20px;
}

.newUserButton:hover {
  background-color: #0273a3;
}

@media screen and (max-width: 1000px) {
  .newUserForm {
    width: 90%;
    margin-left: 0;
  }

  .newUserForm input {
    width: 100%;
  }

  .newUserForm label {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .newUserButton {
    margin-top: 10px;
  }
}
