#profileForm {
  width: 90%;
  margin-left: 3rem;
  padding-bottom: 40px;
}

@media screen and (max-width: 1200px) {
  #profileForm {
    width: 80%;
  }
}

#profileForm input {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #0692cf;
  border-radius: 5px;
  box-sizing: border-box;
}

.unavailable {
  border: 1px solid red;
  box-shadow: #fc95a1 0px 0px 5px;
}

#profileForm label {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 0;
}

.saveChanges {
  padding: 5px 20px 5px 20px;
  margin-top: 30px;
}

.saveChanges:hover {
  background-color: #0273a3;
}


/* Media query for screens up to 1200px */
@media screen and (max-width: 1200px) {
  #profileForm {
    width: 80%; /* Adjust width for smaller screens */
  }
}

#profileForm input {
  width: 100%; /* Set input width to 100% */
  padding: 10px; /* Add padding */
  margin: 0 auto; /* Center-align */
  border: 1px solid #0692cf; /* Add border */
  border-radius: 5px; /* Add border radius */
  box-sizing: border-box; /* Include padding and border in width */
}

.unavailable {
  border: 1px solid red; /* Add border color for unavailable */
  box-shadow: #fc95a1 0px 0px 5px; /* Add box shadow */
}

#profileForm label {
  display: block; /* Make labels block elements */
  margin-bottom: 20px; /* Add bottom margin */
  margin-top: 20px; /* Add top margin */
  margin-left: 0; /* Remove left margin */
}

.saveChanges {
  padding: 5px 20px; /* Add padding for button */
  margin-top: 30px; /* Add top margin */
}

.saveChanges:hover {
  background-color: #0273a3; /* Change background color on hover */
}
